<% if @photos.exists? %>
  <div class="card w-75 mx-auto<%= ' opacity' unless user_signed_in? %>">
    <h2 class="card-header text-center">
      Photos of friends
    </h2>
    <div class="card-body">
      <%= render @photos %>
    </div>
  </div>
<% else %>
  <div class="card w-25 mx-auto">
    <div class="card-body text-center">
      Your friends haven't any photo
    </div>
  </div>
<% end %>
