<div class="jumbotron w-50 mx-auto opacity">
  <h1 class="display-4">Hello, world!</h1>
  <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
  <hr class="my-4">
  <% unless user_signed_in? %>
    <p class="lead">
      If you visited this site for the first time click  
      <%= link_to "Sign up", new_user_registration_path,
                            class: "btn btn-primary btn-lg" %>
    </p>
    <p class="lead">
      But if you already have an account click this
      <%= link_to "Sign in", new_user_session_path,
                            class: "btn btn-primary btn-lg" %>
    </p>
  <% else %>
    <p class="lead">
      Hi, in this site you chill as <%= current_user.email %>
    </p>
  <% end %>
</div>
