<div class="card w-50 mx-auto opacity">
  <h4 class="card-header">Description</h4>
  <div class="card-body">
    <%= @photo.description %>
    <br>
    <%= link_to 'Edit', edit_photo_path(@photo) if @photo.user == current_user %>
    <%= link_to 'Back', photos_path %>
  </div>
</div>