<div class="card w-50 mx-auto">
  <h4 class="card-header">Description</h4>
  <div class="card-body">
    <%= @photo.description %>
    <br>
    <% if @photo.user == current_user %>
      <%= link_to "Edit", edit_photo_path(@photo), remote: true, class: "nav-link" %>
      <%= link_to 'Destroy', @photo, method: :delete, remote: true, class: "nav-link" %>
    <% end %>
    <%= link_to 'Back', photos_path %>
  </div>
</div>