@import 'bootstrap/dist/css/bootstrap';
@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');

body {
  font-family: 'Indie Flower', cursive;
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-image: url(image_path('headlights.jpg'));
}

.landing-logo {
  font-size: 2rem;
}

.jum-set {
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  opacity: 0.4;
}