@import 'bootstrap/dist/css/bootstrap';

body {
  font-family: 'Indie Flower', cursive;
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-image: url(image_path('headlights.jpg'));
}

.see-gb-image {
  opacity: 0.4;
}

.color {
  color: #007bff;
}
