<header>
  <div class="container-fluid">
    <ul class="nav justify-content-center">
      <li class="nav-item">
        <%= link_to "PhotoApp", '#', class: "nav-link color" %>
      </li>
    </ul>
  </div>
</header>
